/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 65.5%;
  list-style: none;
  box-sizing: border-box;
}

/* COLORS */

/* FONTS */

h1, h2, h3, h4, p, label, input, a, img{
  font-size: 1.5rem;
  font-family: "Comfortaa";
  line-height: 2.5rem;
}

h1{
  font-size: 3rem;
  margin-bottom: 15px;
}

h2, h3{
  font-size: 2rem;
  text-transform: uppercase;
}



